.area {
    width: 100%;
    display: flex;
}

.img {
    float: left;
    width: 50%;
    width: 350px;
    height: 350px;
    padding-left: 100px;

}

.c {
    float: right;
    width: 50%;
    /*padding: 80px;*/

}

.clear {
    clear: both;
}

.introduce {
    font-size: 22px;
}

.array1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.array2 {
    width: 75%;
}

.word {
    margin-top: 50px;
    margin-left: 13.5%;
    font-size: 20px;
}

.cmt_pro {
    padding: 0;
}

.comment {
    margin: 200px auto 0;
    width: 70%;
}

.flex_center {
    display: flex;
}

.overstar {
    margin: 80px 0 0 0;
    font-size: 30px;
}

.star {
    display: flex;
    flex-direction: row;
    width: 130%;
    height: 60px;
    padding: 0 0 0 10px;

}

.star input {
    display: none;
}

.star label {
    position: relative;
    cursor: pointer;
    font-size: 35px;
}

.star label::before {
    content: "★";
    position: absolute;
    opacity: 0;
}

.star label:hover::before,
.star label:hover~label:before {
    opacity: 1;
}

.star input:checked~label:before {
    opacity: 1;
}

.star:hover input:checked~label::before {
    opacity: 0.4;
}

.book {
    text-align: center;
}

.book p {
    font-size: 40px;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 250px;
    height: 300px;
}

.recom p {
    font-size: 20px;
}

.btn {
    background-color: rgba(252, 121, 131, 0.709);
    width: 60px;
    height: 30px;

}

.input_num {
    color: black;
    text-align: center;
    height: 30px;
    font-size: 14px;
}

.button_shop {
    color: black;
    margin-top: 20px;
    height: 30px;
    width: 145px;
    font-size: 14px;
    background-color: rgba(255, 146, 155, 0.709);


}